h2, h3 {
    font-weight: normal;
}

.body {
    height: 94.3%;
}

.window {
    background: #232323;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

body {
    height: 99%;
    width: 95%;
    margin: 0 auto;
    margin-top: 1%;
    padding-top: 0;
}

pre {
    line-height: 2;
    height: 100%;
}

.displayFlex {
    display: flex;
}

object {
    height: 100%;
    max-width: 100%;
    -webkit-flex: 1;
    flex: 1;
}

object > .logo{
    width: 80%;
}

#salonsList {
    display: none;
    width: 200px;
    padding-left: 7px;
    padding-right: 15px;
    border-right: 1px solid #454545;
}

#connectedMembers {
    display: none;
    width: 200px;
    padding-left: 15px;
    padding-right: 7px;
    border-left: 1px solid #454545;
}

#connectedMembers li:nth-child(odd), #salonsList li:nth-child(odd) {
    border-bottom: 1px solid #454545;
    border-top: 1px solid #454545;
}

.addSalon {
  display: block;
  margin: 0 auto;
}

.addSalon, #externalButton, #connectedMembers li {
  cursor: pointer;
}

.greenColor {
    color: #32C146;
}

h3.custom {
    line-height: 0.1;
}

#modalAddSalon, #modalParameters, #modalUsers {
  display: none;
  width: 550px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#modalUsers .profilAvatar {
    width: 50px;
}

.errorMessage {
  color: #cc0000;
  display: none;
  margin-bottom: 0;
}

.modal pre {
  line-height: 0.5;
}


/* PULSATING CARET */
[data-typer]:after {
    content:"";
    display: inline-block;
    vertical-align: middle;
    width:1px;
    height:1em;
    background: #000;
            animation: caretPulsate .6s linear infinite;
    -webkit-animation: caretPulsate .6s linear infinite;
  }
  @keyframes caretPulsate {
    0%   {opacity:1;}
    50%  {opacity:1;}
    60%  {opacity:0;}
    100% {opacity:0;}
  }
  @-webkit-keyframes caretPulsate {
    0%   {opacity:1;}
    50%  {opacity:1;}
    60%  {opacity:0;}
    100% {opacity:0;}
  }

  .filter {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, .5);
  }

  .fa-cog {
    float: right;
    margin-right: 15px;
    cursor: pointer;
  }

  .closeModal {
    cursor: pointer;
    width: 5px;
    height: 5px;
    position: absolute;
    left: -18px;
    bottom: 9px;
  }

@media(min-width: 750px) {
    object {
        margin-right: 15px;
    }
    #connectedMembers {
        display: block;
    }
    body {
        padding-top: 2rem;
        margin-top: 0;
    }
    .window {
        width: 80%;
        height: 95%;
        background: #232323;
    }
}

@media(min-width: 900px) {
    object {
        margin-left: 15px;
    }
    #salonsList {
        display: block;
    }
}